body {
  display: grid;
  grid-template-rows: auto 2fr 1fr 2fr 1fr;
  height: 100vh;
  min-height: 100%;
  margin: 0;
}

/* Header */
nav {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-content: center;
  justify-items: center;
  padding-right: 10%;
  height: 45px;
  background-color: #262626;
  color: #8c8c8c;
}

input {
  width: 250px;
}

/* Container 1 */
.container-1 {
  padding-top: 42px;
  text-align: center;
  font-size: 1.1rem;
}

.container-1 > .welcome-screen > a {
  color: black;
  font-size: .75rem;
}

.container-1 > .welcome-screen > div > img {
  height: 200px;
}

/* Container 2 */
.weather-alerts > li > a {
  cursor: pointer;
  text-decoration: underline;
  color: #fff;
}

.weather-alerts > li > a:active {
  color: #000;
}

.hourly-forecast {
  display: grid;
  grid-template-columns: repeat(12, 120px);
  grid-auto-flow: column;
  width: 100vw;
  text-align: center;
  padding-bottom: 4px;
}

/* Container 3 */
.container-3 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: rgba(0,0,0, 0.2);
  margin: 12px;
  border-radius: 6px;
}

.container-3 > div {
  display: grid;
  justify-content: center;
  text-align: center;
}

/* Container 4 */
.container-4 {
  display: flex;
  justify-content: space-around;
  gap: 8px;
}

.container-4 > div {
  border-radius: 15px;
  padding: 25px 50px;
  background-color: rgba(0,0,0, 0.05);
}

/* Description popup */
.description-popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 12px;
  max-height: 35%;
  max-width: 650px;
  overflow: auto;
  box-shadow: 2px 2px 6px 2px var(--gray);
  background-color: #fff;
}

.popup-close {
  text-align: right;
}

.popup-close > span:nth-child(1) {
  cursor: pointer;
  font-size: 1.25rem;
 }

 .weather-alerts > li {
  list-style-type: none;
 }
 
 .weather-alerts > li:nth-child(1) {
  text-align: center;
 }
 
 /* Loading animation */
 .loading-animation {
   display: none;
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding: 12px 0px;
   border-radius: 12px;
   background-color: #d3d3d3;
 }

 .loading-animation > p {
   margin: 0;
   font-size: .75rem;
   text-align: center;
 }

 /* Background */
 .default {
  background: #bdc3c7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #2c3e50, #bdc3c7) fixed;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #2c3e50, #bdc3c7) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Backgrounds - Day */
.clear-day {
  background: #2980B9;
  background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9) fixed;
  background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9) fixed;
}

.cloudy-day {
  background: #2980B9;
  background: -webkit-linear-gradient(to top, #FFFFFF, #bdc3c7, #2980B9) fixed;
  background: linear-gradient(to top, #FFFFFF, #bdc3c7, #2980B9) fixed;
}

.rainy-day {
  background: #304352;
  background: -webkit-linear-gradient(to top, #d7d2cc, #304352) fixed;
  background: linear-gradient(to top, #d7d2cc, #304352) fixed;
}

.snowy-day {
  background: #E0EAFC;
  background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC, #bdc3c7) fixed;
  background: linear-gradient(to top, #CFDEF3, #E0EAFC, #bdc3c7) fixed;
}

.misty-day {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to top, #bdc3c7, #5c5f61) fixed;
  background: linear-gradient(to top, #bdc3c7, #5c5f61) fixed;
}

/* Backgrounds - Night */
.clear-night {
  color: #fff;
  background: #0F2027;
  background: -webkit-linear-gradient(to top, #2C5364, #192e35, #102129) fixed;
  background: linear-gradient(to top, #2C5364, #192e35, #102129) fixed;
}

.cloudy-night {
  color: #fff;
  background: #0F2027;
  background: -webkit-linear-gradient(to top, #2C5364, #5c5f61, #102129) fixed;
  background: linear-gradient(to top, #2C5364, #5c5f61, #102129) fixed;
}

.rainy-night {
  background: #304352;
  background: -webkit-linear-gradient(to top, #34464d, #212e38) fixed;
  background: linear-gradient(to top, #34464d, #212e38) fixed;
}

.snowy-night {
  color: #fff;
  background: #11242c;
  background: -webkit-linear-gradient(to top, #242e33, #5c5f61, #19333f) fixed;
  background: linear-gradient(to top, #242e33, #5c5f61, #19333f) fixed;
}

.misty-night {
  color: #fff;
  background: #0F2027;
  background: -webkit-linear-gradient(to top, #212e38, #484b4d, #333435) fixed;
  background: linear-gradient(to top, #212e38, #484b4d, #333435) fixed;
}
